/* Reset CSS */
body
 {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.news-item {
  margin-bottom: 10px;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

.news-item span {
  color: #777;
  font-size: 14px;
}

#load-more-button {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

#load-more-button:hover {
  background-color: #0056b3;
}

